
@media (min-width: 801px) {
.icon{
  padding-top:1vw;
  color: rgba(0, 0, 0, 0.9);
}

.about {
  text-align: center;
  color: Black;
  font-family: 'Roboto Mono', monospace;
}

.title1 {
  font-size: 50px;
  color: black;
  font-weight:bold;
  font-family: 'Gugi', cursive;
}

.intro1 {
  color: black  ;
  font-size:25px;
  font-family: 'Anton', sans-serif;
  margin-left:20%;
  margin-right:20%
}

table {
  flex: auto;
  font-size: 1.6vw;
  width: 100%;
  margin-top:50px;
  height:100%;
}

.tble {
  text-align: center;
  color: white;
}

.tble tr {
  border: 1px solid black;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.7);
}

.tble th {
  border: 1px solid black;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.8);
  color:white;
  text-align:center;
}
.bottominfo {
  color:white !important;
  font-size:1vw;
  color: black;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 50px;
}

}
@media (max-width: 800px) {
  .icon{
    padding-top:1vw;
    color: rgba(0, 0, 0, 0.9);
    visibility:hidden;
  }

  .about {
    text-align: center;
    color: Black;
    font-family: 'Roboto Mono', monospace;
  }

  .title1 {
    font-size: 30px;
    color: black;
    font-weight:bold;
    font-family: 'Gugi', cursive;
  }

  .intro1 {
    color: black  ;
    font-size:20px;
    font-family: 'Anton', sans-serif;
    margin-left:20%;
    margin-right:20%
  }

  table {
    flex: auto;
    font-size: 2vw;
    width: 100%;
    margin-top:50px;
    height:100%;
  }

  .tble {
    text-align: center;
    color: white;
  }

  .tble tr {
    border: 1px solid black;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .tble th {
    border: 1px solid black;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color:white;
    text-align:center;
  }
  .bottominfo {
    color:white !important;
    font-size:2vw;
    color: black;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    visibility:hidden;

  }


}

@media (max-width: 599px) {
  .icon{
    padding-top:1vw;
    color: rgba(0, 0, 0, 0.9);
    visibility:hidden;
  }

  .about {

    text-align: center;
    color: Black;
    font-family: 'Roboto Mono', monospace;
  }

  .title1 {
    margin-top: 0px;
    font-size: 3vh;
    color: black;
    font-weight:bold;
    font-family: 'Gugi', cursive;
  }

  .intro1 {
    color: black  ;
    font-size:3vh;
    font-family: 'Anton', sans-serif;
    margin-left:20%;
    margin-right:20%
  }

  table {
    flex: auto;
    font-size: 2vw;
    width: 100%;
    margin-top:25px;
    height:100%;
  }

  .tble {
    text-align: center;
    color: white;

  }

  .tble tr {
    border: 1px solid black;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .tble th {
    border: 1px solid black;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color:white;
    text-align:center;

  }
  .bottominfo {
    color:white !important;
    font-size:2vw;
    color: black;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    visibility:hidden;

  }


}
