@media (min-width: 600px) {
.walt {
  margin-top:30vh ;
  text-align: center;
}
.short {
  margin-top: 2%;
  font-size: 2vw;
  text-align: center;
  font-family: 'Gugi', cursive;
  color:rgba(0, 0, 0, 0.8 );
  height:15vw;
}
.main {
  font-family: 'Gugi', cursive;
  font-size: 50px;
  color: black;
}

.icon {
  font-size: 60px;
  text-align: left;
  color:black;
  filter:blur(1px);
  font-family: 'Gugi';
}

.icon:hover {
color:black;
filter:blur(0px);

}
.foot {
  margin-top:10vh;
  bottom:0px;
  width:100%;

}

.git {
  color: black;
  height: 20%;
  width: 20%;
}
}

@media  (max-width: 599px) {

  .walt {
    margin-top:10vh ;
    text-align: center;
  }
  .short {
    margin-top: 2%;
    font-size: 3vw;
    text-align: center;
    font-family: 'Gugi', cursive;
    color:rgba(0, 0, 0, 0.8 );
    height:15vw;
  }
  .main {
    font-family: 'Gugi', cursive;
    font-size: 10vw;
    color: black;
  }

  .icon {
    font-size: 60px;
    text-align: left;
    color:black;
    filter:blur(1px);
    font-family: 'Gugi';
  }

  .icon:hover {
  color:black;
  filter:blur(0px);

  }
  .foot {
    margin-top:30vh;

  }

  .git {
    color: black;
    height: 20%;
    width: 20%;
  }
  }
