.walt {
  margin-top:35vh ;
  text-align: center;
  background-color: rgba(100, 300, 300, 0.5);
}
.short {
  font-size:50px;
  text-align: center;
  font-family: 'Gugi', cursive;
  color:rgba(0, 0, 0, 0.8 );

}
.main {
  font-family: 'Gugi', cursive;
  font-size:60px;
  color: black;
}

.icon {
  font-size: 60px;
  text-align: left;
  color:black;
  filter:blur(1px);
  font-family: 'Gugi';
}

.icon:hover {
color:black;
filter:blur(0px);

}
.foot {
  margin-top:30vh;

}

.git {
  color: black;
  height: 20%;
  width: 20%;
}
