@media (min-width: 801px) {
#section3{
  color:black;
}

h1{
  color:white;
  font-size: 2vw;
}

.body {
  margin-top:20vh;
}

p{
  font-size: 1.5vw;
}
footer {
  font-size: 2.5vw;
}

}
.space {
  margin-top: 3vh;
}

@media (max-width: 800px) {
  #section3{
    color:black;
  }

  h1{
    color:white;
    font-size: 5vw;
  }

  .body {
    margin-top:2vh;
  }

  p{

    font-size: 1.5vw;
  }
  img {

    height: 15vh;
    width: 40vw;

  }
  footer {
    font-size: 3vw;
  }

}

@media (max-width: 599px) {
  .arrow{
    visibility: none;
  }

  #section3{
    color:black;
  }

  h1{
    color:white;
    font-size: 4vw;
  }

  .body {
    margin-top:2vh;
  }

  p{
    font-size: 2vw;
  }

  img {
    height: 10vh;
    width: 40vw;
  }

footer {
  font-size: 4vw;
}

}
